<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Nayeli's Tattoo Website{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>

<body>

    <!-- Navbar -->
    <header class="mb-0 pb-0" style="margin-top: 0; height:100px; padding-top: 0; z-index:999">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a href="/" class="navbar-brand logo">NeilsInk</a>
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/schedule-appointment">Schedule</a></li>
                    <li class="nav-item"><a class="nav-link" href="/services">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="/gallery">Gallery</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Page Header -->
    {% if page_header %}
    <h1 class="text-center page-header" style="z-index:999">{{ page_header }}</h1>
    {% endif %}

    <!-- Main Content -->
    <main class="flex-grow-1 main-content" style="top:0">
        {% block content %}
        <!-- Content will go here -->
        {% endblock %}
    </main>

    <!-- Back to Top Button -->
    <button id="backToTop" onclick="scrollToTop()" class="hidden" style="z-index:999">↑ Back to Top</button>

    <!-- Footer -->
    <footer class="footer">
        <div class="container-fluid">
            <p></p>
            <ul class="footer-links">
                <li>
                    <h3 class="footer-heading">VISIT US</h3>
                    <p><a target="_blank" href="https://www.google.com/maps/place/El+Monte,+CA/">EL MONTE, CA</a></p>
                </li>
                <li>
                    <h3 class="footer-heading">CONTACT</h3>
                    <p><a href="/contact">CONTACT US</a></p>
                </li>
                <li>
                    <h3 class="footer-heading">ABOUT</h3>
                    <p><a href="/about-us">ABOUT US</a></p>
                </li>
            </ul>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='button.js') }}"></script>
    <script async src="//www.instagram.com/embed.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

</body>

</html>



