{% extends 'base.html' %}

{% block content %}
<h1>Gallery</h1>

            <!-- Card Section -->
<div class="row mt-4 images">
    <div class="col-md-4">
        <div class="card">
            <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Service 1">
            <div class="card-body">
                <h5 class="card-title">Tattoo Art</h5>
                <p class="card-text">Explore our unique ink art designs that showcase your personality.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Service 1">
            <div class="card-body">
                <h5 class="card-title">Tattoo Art</h5>
                <p class="card-text">Explore our unique ink art designs that showcase your personality.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Service 1">
            <div class="card-body">
                <h5 class="card-title">Tattoo Art</h5>
                <p class="card-text">Explore our unique ink art designs that showcase your personality.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}