{%extends 'base.html'%}


{% block content %}

{% block page_header %}
{% endblock %}


<div class="services-container">
    <div class="services-container-text">
        <h1 class="services-container-header">SERVICES OFFERED BY NEILSINK</h1>
        <ul class="services-list">
            <li><h1>Tattoos</h1></li>
            <p>Explore our unique ink art designs that showcase your personality. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, repellendus aliquid. Deserunt dolore amet soluta libero veritatis. Fugit explicabo molestias temporibus laudantium doloribus. Repudiandae dolor modi inventore nulla dolores adipisci.</p>
            <a href="{{ url_for('schedule_appointment') }}" class="button-class">SCHEDULE NOW</a>
    
        
        
            <li><h1>Piercings</h1></li>
            <p>Display your piercings in the most creative way. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum vel aliquid dignissimos fugiat, provident debitis dolores, dolorum quaerat qui itaque laboriosam dolor atque odit reprehenderit sapiente est, blanditiis omnis accusamus.</p>
            <a href="{{ url_for('schedule_appointment') }}" class="button-class">SCHEDULE NOW</a>


        </ul>
    </div>
</div>

<style>
    .services-container{
        width:1000px;
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        margin:0 auto;
        padding:50px 0;
    }
</style>
{% endblock %}