{% extends 'base.html' %}

{% block content %}
<!-- view_schedule.html -->
<div class="appointments-list-container">
<h2 class="appointments-list-title">Your Upcoming Appointments</h2>
<hr style="color:white">
<ul id="appointments" class="appointments-list">
  {% for appointment in appointments %}
    <li>
      {{ appointment.client_name }} - {{ appointment.appointment_time }} - {{ appointment.description }}
      {% if appointment.image_file %}
        <br><img src="{{ url_for('static', filename='uploads/' + appointment.image_file) }}" width="100">
      {% endif %}
    </li>
  {% endfor %}
</ul>
</div>
{% endblock %}
